.app-header {

    display: flex;
    top: 0;
    height: var(--size-xl);
    width: 100dvw;
    border-bottom: 1px solid var(--glass-effect);
    backdrop-filter: blur(8px);

}

.app-header > * {
    flex: 0;
}

.app-header > .back-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    min-height: var(--size-lg);
    min-width: var(--size-lg);
    margin-left: 4px;
}

.app-header > h1 {

    display: flex;
    align-items: center;
    margin-left: 24px;
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    flex: 1;

}


