.comment-card {

    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,.04);
    background-color: var(--background-card);
    padding: 8px 12px;
    border-radius: var(--radius-sm);
    box-shadow: 0 0 3px 1px var(--shadow-card);

}

.comment-header .comment-author {
    font-size: 1.1rem;
    font-weight: 600;
}

.comment-content {
    padding: 4px 0;
}

.comment-content .comment-content-text {
    font-size: 0.95rem;
    line-height: 1.5;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}