
.app-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.app-main-fields {

    display: flex;
    flex-direction: column;
    flex: 1; 
    overflow: hidden;

}

.app-header {
    flex-shrink: 0;
}

.app-main {
    flex: 1;
    overflow-y: auto;
    padding: 6px 12px;
}

.app-nav {
    flex-shrink: 0;
}


@media screen and (min-width: 650px) {
    
    .app-page-wrapper {
        flex-direction: row-reverse;
    }

}

@media screen and (min-width: 1024px) {
    .app-page {
        display: flex;
        justify-content: center;
    }
    
    .app-page-wrapper {
        width: 100dvw;
        max-width: 1350px;
    }

}

