.default-button {
  font-size: clamp(1.2rem, 5dvw, 1.5rem);
  cursor: pointer;
  width: 100%;
  height: var(--size-lg);
}

.main-button {
  border-radius: var(--radius-sm);
  background: var(--button-primary);
  box-shadow: 0 8px 24px rgba(123, 47, 247, 0.25);
  border: 1px solid var(--button-primary);
  transition: background 0.08s ease-in-out;
}

.main-button:hover {
  background: var(--button-primary-hover);
}

.main-button:active {
  background: var(--button-primary);
}

.main-button:disabled {

  background: var(--button-primary-disabled);
  color: var(--button-primary-disabled-text);

}

.secondary-button {
  width: 100%;
  height: var(--size-lg);
  border-radius: 9px;
  background: var(--button-secondary);
  border: 1px solid var(--button-secondary-border);
  transition: background 0.08s ease-in-out;
}

.secondary-button:disabled {

  background: var(--button-secondary-disabled);
  border: 1px solid var(--button-secondary-disabled-border);
  color: var(--button-secondary-disabled-disabled-text);

}


